# Paul Irish's tweaked
# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias l="tree --dirsfirst -aFCNL 1"
alias ll="tree --dirsfirst -ChFupDaLg 1"

alias changeshell="chsh -s $(brew --prefix)/bin/"

alias cask='brew cask'
alias where=which
alias brwe=brew
alias ipy="ipython"

alias hosts='sudo $EDITOR /etc/hosts'
alias undopush="git push -f origin HEAD^:master"

# Networking. IP address, dig, DNS
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias dig="dig +nocmd any +multiline +noall +answer"

# Shortcuts
alias g="git"
alias gst="git status"
#removes all removed files from git
alias grm="git ls-files --deleted -z | xargs -0 git rm"
alias v="nvim"

# File size
alias fs="stat -f \"%z bytes\""


# Update installed Ruby gems, Homebrew, npm, and their installed packages
alias brew_update="brew -v update; brew -v upgrade --all; brew cleanup; brew cask cleanup; brew prune; brew doctor"
alias update_brew_npm_gem='brew_update; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update --no-rdoc --no-ri'


# One of @janmoesen’s ProTip™s
#for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	#alias "$method"="lwp-request -m '$method'"
#done

